################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OtvorenoRacunalstvoLabosi
/obj/project.nuget.cache
/obj/project.assets.json
/obj/OtvorenoRacunalstvoLabosi.csproj.nuget.dgspec.json
/.vs/OR-Labosi/CopilotIndices/0.2.1657.32929
