@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3 class="display-4">This is Web site made for Open Computing classes</h3>
    
    <p>Here you can download data about monuments in Zabgreb in JSON and CSV formats:</p>
    <div class="d-flex justify-content-center flex-column">
        <a href="/data/monuments.csv" download>Download CSV format</a>
        <a href="/data/monuments.json" download>Download JSON format</a>

    </div>
        
    </div>
